@keyframes flashes {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna {
    padding: 30px;
    display: flex;
    background-color: #dbd5c9;
}

.screen {
    width: 450px;
    height: 320px;
    border: 2px solid #403A3A;
    background-image: linear-gradient(to right, #E8E8E8, #C1C1C1);
    display: flex;
    flex-direction: column;
}

.screen-top {
    flex: 1;
    padding-left: 20px;
    display: flex;
}

.screen-top--left {
    flex: 1;
}

.screen-top--left .left-1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.screen-top--left .left-2 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-top--left .left-3 {
    height: 50px;
    display: flex;
    align-items: flex-start;
}

.screen-top--left .left-3 .number {
    width: 30px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
}

.flashes {
    animation-name: flashes;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.screen-top--left .left-4 {
    line-height: 30px;
}

.big-warming {
    font-size: 40px;
    font-weight: bold;
}

.extra-big-warming {
    flex: 1;
    font-weight: bold;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-top--right {
    max-width: 90px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-end;
}

.screen-top--right .right-1-image {
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #000;
}

.screen-top--right .right-1-image img {
    width: 100%;
}

.screen-top--right .right-1-image.small {
    width: 80%;
    font-size: 12px;
}

.screen-bottom {
    height: 50px;
    font-size: 14px;
    padding-left: 10px;
    border-top: 2px solid #403A3A;
}

.keyboard {
    width: 290px;
    background-color: #403A3A;
    margin-left: 30px;
}

.keyboard--line {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.keyboard--button {
    width: 70px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    color: #FFF;
    background-color: #000;
    box-shadow: 3px 3px 0 rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.white-button,
.corrige-button,
.confirm-button {
    color: #000;
    font-size: 15px;
}

.white-button {
    background-color: #FFF;
}

.corrige-button {
    background-color: #F09046;
}

.confirm-button {
    background-color: #48C079;
    width: 90px;
    line-height: 50px;
}